.navbar-brand-box .logo-lg strong,
.navbar-brand-box .logo-sm img {
    vertical-align: middle;
}

.mini-stats-wid .mini-stat-icon i {
    line-height: 1;
}

.table td,
.table th {
    vertical-align: middle;
}

.page-content {
    min-height: calc(100vh - 130px);
}
